.place__paragraphs{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 163%;
	max-width: calc(100em - 148px);
	margin:0;
	padding: 0;
}
@media (max-width: 1024px) {
	.place__paragraphs{
		max-width: calc(100% - 48px);
	}
}
@media (max-width: 768px) {
	.place__paragraphs{
		font-size: 16px;
		max-width:  calc(100% - 24px);
	}
}
@media (max-width: 357px) {
	.place__paragraphs{
		font-size: 16px;
		max-width:  calc(90em - 16px);
	}
}
@media (max-width: 320px) {
	.place__paragraphs{
		max-width: 100%;
	}
}