.place__paragraphs{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 163%;
	max-width: calc(100% - 148px);
	margin:0;
	padding: 0;
}
@media (max-width: 1024px) {
	.place__paragraphs{
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	.place__paragraphs{
		max-width: 100%;
	}
}
@media (max-width: 357px) {
	.place__paragraphs{
		max-width: 100%;
		padding-left:16px;
		padding-right: 16px;
	}
}