.place__paragraphs{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29.34px;
	max-width: 100%;
	margin:0;
	padding: 0;
}
@media (max-width: 768px) {
	.place__paragraphs{
		font-size: 16px;
		line-height: 26.08px;
	}
}
@media (max-width: 357px) {
	.place__paragraphs{
		padding-left:16px;
		padding-right: 16px;
	}
}