.footer__copyright{
	display: flex;
	flex-direction: column;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin:0;
}
@media (max-height: 1024px) {
	.footer__copyright{
		margin-right: 48px;
	}
}
@media (max-width: 768px){
	.footer__copyright{
		margin-right: 24px;
		line-height: 14px;
		margin-top: 0;
	}
}
@media (max-width: 693px) {
	.footer__copyright{
		margin-top:48px;
	}
}