.lead__image{
	max-width: calc(100em - 148px * 2);
	max-height: 615px;
	align-self: center;
	margin:0 auto;
	object-fit:cover;
}
@media (max-width: 1024px) {
	.lead__image{
		max-width: 100%;
		max-height: 580px;
	}
}
@media (max-width: 942px) {
	.lead__image{
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	.lead__image{
		max-height: 480px;
	}
}
@media (max-width: 320px) {
	.lead__image{
		max-height: 200px;
	}
}
figure{
	margin:0 ;
}