.lead__image{
	max-width: 984px;
	max-height: 615px;
	align-self: center;
	padding:64px auto 0 auto;
	object-fit:contain;
}
@media (max-width: 1024px) {
	.lead__image{
		max-width: 928px;
		max-height: 580px;
		padding:0 auto 0 auto;
		margin-top: 56px;
	}
}
@media (max-width: 768px) {
	.lead__image{
		max-width: 768px;
		max-height: 480px;
		padding:0 auto 0 auto;
		margin-top: 56px;
	}
}
@media (max-width: 320px) {
	.lead__image{
		max-width: 320px;
		max-height: 200px;
		padding:0 auto 0 auto;
		margin-top: 40px;
	}
}