.cover{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: calc(100% - 48px * 2);
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 1183px) {
	.cover{
		max-width: 100%;
	}
}
@media (max-width: 1024px) {
	.cover{
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	.cover{
		max-width: 100%;
	}
}
@media (max-width: 320px) {
	.cover{
		max-width: 100%;
	}
}