.place{
	display:grid;
	grid-template-rows: repeat(2, max-content);
	grid-template-columns:460px 1fr;
	gap: 48px 40px;
	max-width: 100%;
	box-sizing: border-box;
	margin-bottom: 80px;
}
.place:last-child{
	margin-bottom: 92px;
}
@media (max-width: 1024px) {
	.place{
		grid-template-columns:440px 1fr;
		gap: 48px 32px;
	}
}
@media (max-width: 768px) {
	.place{
		grid-template-columns:340px 1fr;
		gap: 48px 28px;
		margin-bottom: 73px;
	}
	.place:last-child{
		margin-bottom: 90px;
	}
}
@media (max-width: 650px) {
	.place{
		grid-template-rows:repeat(4, max-content);
		grid-template-columns:repeat(1, 1fr);
		gap: 32px;
	}
}
@media (max-width: 367px) {
	.place{
		margin-bottom: 50px;
	}
	.place:last-child{
		margin-bottom: 66px;
	}
}