.footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: calc(100% - 48px * 2);
	justify-content: space-between;
	padding-bottom: 24px;
}
@media (max-width: 1183px) {
	.footer{
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	.footer{
		min-width: calc(100% - 24px * 2);
	}
}
@media (max-width: 693px) {
	.footer{
		justify-content: center;
	}
}
@media (max-width: 510px) {
	.footer{
		flex-direction: column;
		min-width: calc(100% - 16px - 118px);
		justify-content: start;
		padding-left: 16px;
	}
}