.footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: calc(100% - 48 * 2);
	max-height: 18px;
	justify-content: space-between;
	padding-bottom: 24px;
	/*padding-right: 48px;
	padding-left: 48px;*/
}
@media (max-width: 1183px) {
	.footer{
		max-width: calc(100% - 48 * 2);
	}
}
@media (max-width: 1024px) {
	.footer{
		max-width: calc(100% - 48 * 2);
	}
}
@media (max-width: 768px) {
	.footer{
		min-width: calc(100% - 24 * 2);
		/*padding-right: 24px;
		padding-left: 24px;*/
	}
}
@media (max-width: 320px) {
	.footer{
		min-width: calc(100% - 16 - 118);
		/*padding-right: 118px;
		padding-left: 16px;*/
		max-height: 310px;
		justify-content: start;
	}
}