.place__website{
	list-style-type: none;
	max-width: 484px;
	margin:0;
	padding:0;
	align-self: end;
}
@media (max-width: 1024px) {
	.place__website{
		max-width:456px;
	}
}
@media (max-width: 768px) {
	.place__website{
		max-width:352px;
	}
}
@media (max-width: 320px) {
	.place__website{
		max-width:288px;
		padding-left:16px;
		padding-right: 16px;
	}
}